$gray: rgb(68, 68, 68);

.list {
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 12px;
  line-height: 1;
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: $gray;

  &:hover {
    color: white;
    background: $gray;
  }
}
.active {
  color: white;
  background: rgb(40, 185, 40);
  border: 1px solid rgb(40, 185, 40);
}

.image {
  margin-top: 45px;
  border: 1px solid;
  border: 1px solid $gray;
  border-radius: 8px;
}
